body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

aside {
    width: 250px; /* Fixed width for the sidebar */
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #2D394A; /* Dark background for the sidebar */
    color: white; /* Light text for contrast */
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

aside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside li a {
    color: #fff; /* White text for links */
    text-decoration: none;
    padding: 0.5rem 0;
    display: block;
}

aside li a:hover,
aside li a:focus {
    background-color: #1a1e24; /* Slightly lighter background on hover/focus */
    outline: none;
}

main {
    margin-left: 250px; /* Margin to create space for the fixed sidebar */
    padding: 1rem;
}
/* Additional custom styles for this page can be added below */
/*     margin-top: 10px; 
    margin-left: 0px;