body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

main {
    padding: 20px;
    width: 100%;
}

#dashboard-header {
    text-align: center;
    margin-bottom: 20px;
}

#analyticsForm {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: 10px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    margin-bottom: 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
    flex-basis: calc(33.333% - 20px); /* Adjust the flex-basis as per number of fields in a row */
    margin-bottom: 10px;
}

.form-field input[type="text"],
.form-field input[type="date"],
.form-field select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-field label {
    margin-bottom: 5px;
    color: #333;
    font-weight: 600;
}

button {
    padding: 10px 20px;
    font-size: 0.9em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#backToActions {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    margin-right: auto; /* pushes the button to the left */
}

#reportResults {
    width: 100%;
}

#exportCsv {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

#additionalFilters {
    display: none; /* Hidden by default */
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

#additionalFilters.active {
    display: flex; /* Show when active */
}

#additionalFilters .form-field {
    flex-basis: 100%;
}

#retrospectiveFilter {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #333;
    cursor: pointer;
}

#retrospectiveFilter:hover {
    background-color: #e9ecef;
}

.filter-label {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 5px;
    font-weight: normal; /* less emphasis on label */
}

.filter-note {
    font-size: 0.8em;
    color: #6c757d;
    margin-top: 5px;
    display: none; /* Hidden by default */
}

.filter-note.visible {
    display: block; /* Show when filter is applied */
}


#exportCsv {
    background-color: #cf3a72; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    position: fixed; 
    top: 10px; 
    right: 10px; 
    z-index: 1000; 
  }
