body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff; /* Assuming a light background for the whole page */
}

main {
    padding: 20px;
}

#backToActions {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #12A0F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

#backToActions:hover {
    background-color: #0F87C9;
}

#analytics-dashboard h1 {
    margin-bottom: 20px;
}

#analytics-dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#analyticsForm {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: #2D394A;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-field {
    flex-basis: calc(33.333% - 20px); /* Adjust the percentage as per the number of fields per row */
    display: flex;
    flex-direction: column;
    color: white;
}

#analyticsForm input[type="text"],
#analyticsForm input[type="date"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

#toggleMilestone,
#analyticsForm button[type="submit"],
#downloadCsv {
    padding: 10px 15px;
    background-color: #12A0F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#toggleMilestone:hover,
#analyticsForm button[type="submit"]:hover,
#downloadCsv:hover {
    background-color: #0F87C9;
}

#milestoneField {
    display: none; /* Hide the milestone field by default */
    flex-basis: 100%; /* Milestone field should take the full width when visible */
}

#selectedMilestones {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

#reportResults {
    margin-top: 20px;
}

