body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    display: flex;
}

#toggleSidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    font-size: 24px;
}

#toggleSidebar:hover {
    background-color: #e0e0e0;
}

.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: auto;
    background-color: #EBEEF5;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.sidebar.collapsed {
    transform: translateX(-250px);
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(250px); /* Initially positioned to the right of the sidebar */
}

.sidebar.collapsed + .main-content {
    transform: translateX(0); /* Align to the left when sidebar is collapsed */
}

#analytics-dashboard {
    max-width: 600px; /* Set the max width of the form */
    margin: 0 auto; /* Center the form in the available main content space */
    padding: 15px;
    background: #2D394A;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Other selectors from your previous CSS can go here */


form input[type="text"], form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 0.9em;
    color: white;
}

form button, #btnNodeJs, #btnPython {
    padding: 6px 10px;
    font-size: 0.8em;
    border: none;
    border-radius: 4px;
    background-color: #12A0F3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0F87C9;
}

form button[type="submit"] {
    margin-top: 10px;
}

aside a {
    color: #333;
    text-decoration: none;
    word-break: break-word;
}

aside a:hover {
    color: #555;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 0.5em;
    transition: background-color 0.3s;
}

nav li a:hover {
    background-color: #f4f4f4;
}

#data-display {
    margin-top: 20px;
}

#app {
    margin: 20px;
}

label {
    margin-top: 10px;
    display: inline-block;
}

input, select, button {
    margin-bottom: 10px;
}

#milestoneFilter {
    width: 200px;
    height: 150px;
}
