body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

aside {
    width: 20%;
    overflow-y: scroll;
    position: fixed;
    height: 100vh;
    background-color: #EBEEF5; /* Updated background color */
    padding: 10px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
}

/* Style for hyperlinks to remove purple color and underline */
aside a {
    color: #333; /* Text color */
    text-decoration: none; /* Removes underline */
    word-break: break-word;
}

aside a:hover {
    color: #555; /* Text color on hover */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 0.5em;
    transition: background-color 0.3s;
}

nav li a:hover {
    background-color: #f4f4f4;
}

main {
    margin-left: 22%;
    padding: 20px;
}

header h1 {
    margin: 0;
    padding-bottom: 1em;
}

#content {
    padding: 1em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.disclaimer {
    background-color: #dad6bb; /* Light yellow to draw attention */
    color: #333;
    padding: 10px;
    margin-bottom: 20px; /* Spacing before the next content block */
    border-left: 4px solid #ffa000; /* Accent bar on the side */
    font-size: 0.9em; /* Adjust the font size as needed */
}
